# R metadata
.Rhistory
.RData
.Rproj.user/

# OS cruft
.DS_Store
Thumbs.db

# Output & intermediate data
/output/*
!/output/README.md

/data/*
!/data/README.md
/analysis/georef
/analysis/trend_plots

# Raw data (heavy, external)
data-raw/ESACCI/ESACCI_1992-2020/
data-raw/FPAR/fpar_1982-2021/
data-raw/LAI/lai_1982-2021/
data-raw/GLC_FCS30D/
data-raw/LUH2_v2h/

# Optional outputs
*.png
*.csv
*.pdf
*.aux
*.log
*.out

# Manifest + lock files
manifest.csv
.lock

# Debug / temp files
*.swp
*.tmp
*~

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
